.infowindow {
	background: #000;
	margin: 0;
	padding: 0;
	color: #fff;
	text-transform: uppercase;
}
.infowindow .infowindow_image {
	float: none;
	margin: 0;
}
.infowindow a, .infowindow a:visited {
	color: #fff;
}
.infowindow .infowindow_content {
	padding: 5px;
	width: 230px;
}
.infowindow .next {
	position: absolute;
	top: 50%;
	right: 5px;
	width: 25px;
	height: 40px;
	margin-top: -40px;
	line-height: 40px;
	text-align: right;
}
.infowindow .prev {
	position: absolute;
	top: 50%;
	left: 5px;
	width: 25px;
	height: 40px;
	margin-top: -40px;
	line-height: 40px;
	text-align: left;
}
.infowindow {
	margin: 0px 0 0 0;
	border: 1px solid rgba(255, 255, 255, 0.05);
}
.infowindow .infowindow_content {
	width: auto;
	float: none;
}
.infowindow .infowindow_list {
	margin-bottom: 0;
	font-size: 11px;
	padding-top: 4px;
	padding-bottom: 2px;
	padding-right: 2px;
	padding-left: 2px;
}
.infowindow .infowindow_image {
	float: none;
	margin-right: 0;
}
.infowindow .infowindow_image img {
	border: none;
}
.infowindow ul {
	color: #FFF;
}
.infowindow a, .infowindow a:visited {
	color: inherit;
}
.infowindow a:hover {
	text-decoration: none;
}
.infowindow_meta a, .infowindow_meta a:visited {
	color: #inherit;
}
.olPopupContent {
	padding: 0px;
}